# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.pins
Packages/

# Misc
*~
*.swp
